<section class="form-wrapper">
  <div *ngIf="isLogged">Zostałeś poprawnie zalogowany</div>
  <form
    *ngIf="!isLogged"
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="form"
  >
    <div class="form-group">
      <label for="user">User Name</label>
      <input ngModel type="text" id="user" class="form-control" name="name" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        ngModel
        type="password"
        id="password"
        class="form-control"
        name="password"
      />
    </div>
    <div>
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
  <div *ngIf="isError">Błędne logowanie</div>
</section>
