<header class="header">
  <div class="navbar-wrapper">
    <app-navbar *ngIf="menuActive"></app-navbar>

    <app-navbar-mobile
      *ngIf="!menuActive"
      [isActive]="toggleMenu"
    ></app-navbar-mobile>

    <div *ngIf="!menuActive" class="header-icon" (click)="toggleMenuMobile()">
      <i class="material-icons" [class]="'icon'">menu</i>
    </div>
    <!-- <div class="btn-wrapper">
      <button class="btn-main" routerLink="/login">Log In</button> -->

    <!-- <button class="btn-main" (click)="saveCountriesInFirebase()">
        Save Data
      </button> -->
    <!-- </div> -->
  </div>
</header>
