<div class="wrapper">
  <div class="input-wrapper">
    <input
      #inputRef
      type="text"
      placeholder="search"
      (input)="searchCountries(inputRef)"
      class="input"
    />
  </div>
  <app-spinner *ngIf="isLoaded"></app-spinner>

  <ul *ngIf="countriesLength" class="country-list">
    <ng-container *ngFor="let country of countries$ | async; let i = index">
      <app-country-list-element [country]="country"></app-country-list-element>
    </ng-container>
  </ul>
  <ng-container *ngIf="!isLoaded">
    <div *ngIf="!countriesLength">Brak wyników!</div>
  </ng-container>
</div>
