<nav class="mobile">
  <ul class="mobile-menu" [class]="isActive ? 'active-menu' : null">
    <li class="mobile-element">
      <a routerLink="/home" routerLinkActive="active" class="mobile-link"
        >Home</a
      >
    </li>
    <li class="mobile-element">
      <a
        routerLink="/favorite-countries"
        routerLinkActive="active"
        class="mobile-link"
        >Favorite</a
      >
      <span class="favorite-info">{{ length }}</span>
    </li>
    <li class="mobile-element">
      <a
        routerLink="/home/add-country"
        class="mobile-link"
        routerLinkActive="active"
        >Add Country
      </a>
    </li>
    <li class="mobile-element">
      <a
        routerLink="/home/drag-and-drop"
        class="mobile-link"
        routerLinkActive="active"
        >Drag-and-Drop
      </a>
    </li>
    <li class="mobile-element">
      <a
        routerLink="/home/file-reader"
        class="mobile-link"
        routerLinkActive="active"
        >File Reader
      </a>
    </li>
  </ul>
</nav>
