.app-wrapper {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  position: relative;
}
.page-wrapper {
  max-height: 78vh;
  margin-top: 15vh;
  /* margin-top: 80px; */
}
