<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-element">
      <a routerLink="/home" class="navbar-link" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="navbar-element">
      <a
        routerLink="/favorite-countries"
        class="navbar-link"
        routerLinkActive="active"
        >Favorite
      </a>
      <span class="favorite-info">{{ favoriteLength }}</span>
    </li>
    <li class="navbar-element">
      <a
        routerLink="//home/add-country"
        class="navbar-link"
        routerLinkActive="active"
        >Add Country
      </a>
    </li>
    <li class="navbar-element">
      <a
        routerLink="/home/drag-and-drop"
        class="navbar-link"
        routerLinkActive="active"
        >Drag-and-Drop
      </a>
    </li>
    <li class="navbar-element">
      <a
        routerLink="/home/file-reader"
        class="navbar-link"
        routerLinkActive="active"
        >File Reader
      </a>
    </li>
  </ul>
</nav>
