.country {
  display: block;
  border-radius: 5px;
  margin: 3px;
  padding: 7px;
  background-color: lightgray;
  color: black;
}
.country:hover {
  background-color: var(--main-color-dark);
  color: white;
  cursor: pointer;
}
.country-img {
  width: 20px;
  height: 10px;
}
.active {
  background-color: var(--main-color-dark);
  color: white;
}
.icon:hover {
  color: yellow;
}

.favorite {
  color: yellow;
}
